html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

#slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slides {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

#slide-1 {
    background-size: cover;
    background-color: #ecf0f1;
}

#slide-2 {
    background-size: cover;
    background-color: #f39c12;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
    color: #ecf0f1;
}

#slide-3 {
    background-size: cover;
    background-color: #2c3e50;
    -webkit-transform: translate(0,200%);
    -ms-transform: translate(0,200%);
    transform: translate(0,200%);
    color: #ecf0f1;
}

#slide-4 {
    background-size: cover;
    background-color: #d35400;
    -webkit-transform: translate(0,300%);
    -ms-transform: translate(0,300%);
    transform: translate(0,300%);
    color: #ecf0f1;
}

#helper {
    position: absolute;
    left: 0;
    top: 0;
    height: 400%;
    width: 20px;
    visibility: hidden;
}

#heading {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 25%;
    font-size: 80%;
    color: black;
}

#heading h1 {
    position: absolute;
    font-size: 72px; 
}

#heading h2 {
    position: absolute;
    top: 100px;
    font-size: 40px;
}

#content2 {
    position: absolute;
    width: 100%;
    top: 5%;
}

#content2 h1 {
    font-size: 30px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#content2 h2 {
    top: 100px;
    font-size: 40px;
    width: 520px;
    margin: auto;
}

#content2 img {
    position: absolute;
    width: 40%;
    margin-top: 50px;
    margin-left: 8%;
}

#about {
    position: absolute;
    top: 200px;
    left: 52%;
    line-height: 1.5em;
}

#content3 {
    max-width: 1500px;
    height: 650px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#skill {
    padding: 0;   
}

#skill li {
    list-style-type: none;
    margin-top: 20px;   
}

.ui-widget-header {
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
}

#content3 h1 {
    font-size: 30px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
    text-align: center;
}

.projects {
    padding: 0;
    display: block;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: #ecf0f1;
}

.projects img {
    width: 100%;   
}

figure {
    margin: 0;
    padding: 0;
    height: 170px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid #fff;
}
 
figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
}
 
figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.6);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    -ms-transition-delay: .25s;
    transition-delay: .25s;
}
 
figcaption h3 {
    font-family: 'Open sans';
    font-weight: 400;
    color: #f3b204;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    right: 100%;
    margin-top: 37px;
    font-size: 30px;
    text-align: center;
}
 
figcaption p {
    font-family: 'Open sans';
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    left: 100%;
    font-size: 15px;
}
 
figure:hover h3,figure:hover p {
    left: 0;
}
 
figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}
 
figcaption a:hover {
    color: #4f5856;
    background: #fff;
}

.projectDetail {
    position: absolute;
    top: 150px;
    left: 12%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#instreampic {
    float: left;
    width: 45%;
    left: 10%;
}

#missbehuacapic {
    float: left;
    width: 45%;
    left: 10%;
}

#missbehuapic {
    float: left;
    width: 47%;
    left: 10%;
}

#instreampic img, #missbehuacapic img, #missbehuapic img {
    width: 100%; 
}

.detail {
    float: left;
    margin-left: 2%;
    line-height: 1.6em;
    font-size: 18px;
    width: 45%;
}

.detail a {
    color: #f1c40f;   
}

#backButton {
    position: absolute;
    top: 80px;
    left: 12%;
}

.disappear {
    display: none;
}

#content4 {
    position: absolute;
    width: 610px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#content4 h1 {
    font-size: 30px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#checkResume {
    top: 100px;
    font-size: 40px;
    width: 340px;
    margin: auto;
}

#paper img {
    width: 100%;
}

#paper {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#more {
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
}

#social {
    width: 620px;   
    margin-left: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#social li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

.detailMobile {
    display: none;   
}

@media (max-width: 1000px){
    #heading {
        left: 15%;
    }
    
    #content2 img {
        display: none;       
    }
    
    #about {
        top: 200px;
        width: 70%;
        left: 15%;
        line-height: 1.5em;
    }
    
    #instreampic {
        width: 45%;
        left: 10%;
    }

    #missbehuacapic {
        width: 45%;
        left: 10%;
    }

    #missbehuapic {
        width: 47%;
        left: 10%;
    }

    #instreampic img, #missbehuacapic img, #missbehuapic img {
        width: 100%; 
    }

    .detail {
        float: left;
        margin-left: 2%;
        line-height: 1.3em;
        font-size: 16px;
        width: 45%;
    }

    .detail a {
        color: #f1c40f;   
    }

    #backButton {
        position: absolute;
        top: 80px;
        left: 12%;
    }
}

@media (max-width: 780px){
    .slides {
        height: 360px;   
    }
    
    #about {
        top: 200px;
        width: 500px;
        left: 12%;
        line-height: 1.5em;
    } 
    
    #instreampic {
        width: 250px;
        margin-left: 22%;
    }

    #missbehuacapic {
        width: 250px;
        margin-left: 22%;
    }

    #missbehuapic {
        width: 250px;
        margin-left: 22%;
    }
    
    .detail {
        display: none;   
    }
    
    .detailMobile {
        display: block;
        float: left;
        margin-left: 4%;
        line-height: 1.3em;
        font-size: 16px;
        width: 80%;
    }
}
